/* Global Styling */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 50px;
}

/* Body and Page Background */
body {
    background-color: #1E1E1E;
    font-family: 'Source Code Pro', monospace;
}

/* Header Styling */
header {
    background-color: #222; /* Dark background */
    padding: 10px 0;
    font-size: 25px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    height: 100vh; /* Full viewport height */
    width: 100%;  /* Full viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white; /* Simulates a blinking cursor */
    animation: blinkCursor 0.75s step-end infinite;
}

@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}

/* Social Media Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;  /* Flexbox layout for social links *
    align-items: center;
    justify-content: center;  /* Center the links */
    gap: 20px;  /* Space between links */
}

nav ul li {
    display: flex;
    align-items: center;
}


/* Social Media Links */
nav ul li a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* LinkedIn Hover Effect */
nav ul li a[href*="linkedin"]:hover {
    color: #0077b5; /* LinkedIn Blue */
}

/* GitHub Hover Effect */
nav ul li a[href*="github"]:hover {
    color: #b4b4b4; /* Light Gray for GitHub */
}

/* Twitter Hover Effect */
nav ul li a[href*="x.com"]:hover,
nav ul li a[href*="twitter"]:hover {
    color: #b4b4b4; /* Light Gray for Twitter */
}

/* SVG */
svg {
    width: 24px;
    height: 24px;
    fill: white;
}


/* Navbar Styling */
.topnav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.topnav a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: grey;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.column {
    text-align: center;
    padding: 25px 0px;
    background-color: #1E1E1E;
    color: white;
    height: 100vh;  /* Full viewport height */
    width: 100%;   /* Full viewport width */
    display: flex;
    flex-direction: column;
}

/* Projects Section */
#projects {
    text-align: center;
    padding: 25px 0px;
    background-color: #1E1E1E;
    color: white;
    height: 100vh;  /* Full viewport height */
    width: 100%;   /* Full viewport width */
    display: flex;
    flex-direction: column;
}

/* Project Titles */
h2 {
    font-size: 2.5em;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
}
	
/* Individual Projects */
.project {
    margin: 20px 0;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
}

/* Links within Projects */
.project a {
    color: #b4b4b4; /* Grey for GitHub links */
    font-size: 1em;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.project a:hover {
    color: #f5f5f5; /* Light Gray for hover effect */
}

/* Project Descriptions */
.project p {
    font-size: 1.1em;
    font-family: 'Source Code Pro', monospace;
}

/* Footer */
footer {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    background-color: #222;
    color: white;
    bottom: 0;
    width: 100%;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    #projects {
        padding: 30px 0px;
    }
    
    .project {
        margin: 15px 0;
        padding: 15px;
    }

    .project h3 {
        font-size: 1.5em;
    }
    
    .project p {
        font-size: 1em;
    }
}
