@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@300;600&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 50px;
}

body {
    background-color: #000;
    font-family: 'Rajdhani', sans-serif;
    color: #D4D4D4;
}

header {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F5C518;
    text-shadow: 0px 0px 15px #F5C518;
}

h1 {
    font-size: 55px;
    font-family: 'Orbitron', sans-serif;
}

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #00FFFF;
    animation: blinkCursor 0.75s step-end infinite;
}

@keyframes blinkCursor {
    50% { border-color: transparent; }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #D4D4D4;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background: #111;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.2);
}

nav ul li a:hover {
    background: #2188F2;
    color: #FFF;
    text-shadow: 0px 0px 5px white;
}

nav ul li a svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    transition: fill 0.3s ease-in-out;
}

nav ul li a:hover svg {
    fill: white;
}

.topnav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.3);
}

.topnav a {
    color: #D4D4D4;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif; 
    text-transform: uppercase;
    display: block;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.topnav a:hover {
    color: #00FFFF; 
    text-shadow: 0px 0px 5px #00FFFF;
}

.topnav a.active {
    background: linear-gradient(45deg, #D90429, #2188F2);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #D90429;
}

.column {
    text-align: center;
    padding: 40px;
    background-color: #1B1B1B;
    border: 2px solid #2188F2;
    box-shadow: 0px 0px 15px rgba(33, 136, 242, 0.3);
    margin: 20px;
    border-radius: 10px;
}

#about {
    max-width: 900px;
    margin: 0 auto;
    background-color: #111;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
    text-align: left;
}

h2, h3 {
    color: #F5C518;
    font-size: 2.5em;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 15px #F5C518;
}

h4 {
    color: #F5C518;
    font-size: 1.2em;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 15px #F5C518;
}

a {
    color: #00FFFF;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    text-shadow: 0px 0px 5px #00FFFF;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #343434;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.2);
}

.skills {
    text-align: right;
    padding: 10px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.html { width: 10%; background-color: #D90429; }
.css { width: 5%; background-color: #2188F2; }
.js { width: 5%; background-color: #F5C518; }
.python { width: 20%; background-color: #9E9E9E; }

footer {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    padding: 10px;
    background-color: #000;
    color: #D4D4D4;
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
    #projects { padding: 30px 0px; }
    .project { margin: 15px 0; padding: 15px; }
    .project h3 { font-size: 1.5em; }
    .project p { font-size: 1em; }
}
